.authPage{
    &.wide-xxl{
        max-width: 1240px;
    }
    .card{
        border-radius: 15px;
        &-header{
            background: none;
            border-bottom: 1px solid #ddd;
        }
        &-inner{
            padding: 40px 70px;
        }
        .nk-block-title{
            color: #28326D;
        }
    }
    &_radio{
        label{
            font-size: 18px;
            color: #28326D;
            font-weight: 500;
        }
        &-formBtm{
            padding: 15px;
            background-color: rgba(#28326F, 0.05);
            .form-group{
                margin-bottom: 0;
            }
            .form-check{
                &-input{
                    &:checked{
                        background-color: #28326F;
                    }
                }
            }
        }
    }
    &_btn {
        .btn{
            min-width: 150px;
        }
    }
    form{
        .btn{
            border-radius: 0;
        }
    }
    @include media-breakpoint-down(xxl){
        .logo-img-lg{
            max-height: 50px;
        }
        &.wide-xxl{
            max-width: 992px;
        }
        .card{
            &-inner{
                padding: 40px;
            }
        }
        form{
            .formBtm_radio{
                .form-check{
                    &-label{
                        font-size: 16px;
                    }
                }
            }
        }
        &_radio{
            label{
                font-size: 16px;
            }
        }
    }
    @include media-breakpoint-down(xl){
        .card{
            &-inner{
                padding: 30px;
            }
        }
        &.wide-xxl{
            max-width: 768px;
        }
    }
    @include media-breakpoint-down(lg){
        .logo-img-lg {
            max-height: 35px;
        }
        .card{
            &-inner{
                padding: 20px;
            }
        }
    }
    @include media-breakpoint-down(md){
        .card{
            &-inner{
                padding: 15px;
            }
        }
        &.wide-xxl{
            max-width: 100%;
        }
        &_radio{
            label{
                font-size: 14px;
            }
        }
        &_btn {
            .btn{
                min-width: 100px;
            }
        }
    }
}
//
// Balance header 
.balanceTop{
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #252b65;
    span{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-left: 10px;
        background-color: #FF9934;
        color: #fff;
    }
}

//Cart item dropdown
.cartItem{
    .dropdown-head{
        h2{
            font-size: 20px;
            color: #252b65;
        }
        a{font-size: 18px;color: #252b65;}
    }
    .dropdown-body{
        padding: 25px;
        .closeIcon{
            color: #252b65;
            .icon{
                font-size: 16px;
                color: #252b65;
            }
        }
    }
    &_number{
        margin-left: 25px;
        position: relative;
        p{
            font-size: 18px;
            margin-bottom: 0;
            color: #252b65;
        }
        span{
            font-size: 16px;
            display: block;
            color: #252b65;
        }
        .icon{
            position: absolute;
            right: -30px;
            top: 0;
            font-size: 22px;
            color: #252b65;
        }
    }
    &_price{
        padding: 15px;
        border-top: 1px solid #252b65;
        background-color: rgba(#252b65,0.10);
        p{
            color: #252b65;
            font-size: 16px;
        }
        &-plan{
            p{
                color: #252b65;
                font-size: 16px;
            }
        }
    }
}